{% extends "AppComputadoras/padre.html" %}

{% load static %}

{% block titulo %}

<h1>Motherboard</h1>

{% endblock%}

{% block parrafo %}

<h2>Estas en la pagina de Motherboard</h2>

{% endblock%}

{% block formulario%}

{% if formulario.error %}

<p style="color:red">ERROR VERIFIQUE LOS DATOS</p>

{% endif %}

<form action="{% url 'motherboard' %}" method="post">{% csrf_token %}
    <h3>Ingrese Motherboard</h3>
    <h6>-------------------------------------------------</h6>
    <table>
        <br>
        {{ formulario.as_table }}
    </table>
    <br>
    <h6>-------------------------------------------------</h6>
    <br>
    <input type="submit" value="Enviar Formulario Motherboard">
    


</form>
<br>
{% endblock%}